/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

@import url(general.css);

/* "Welcome" section styling */

#welcome
{
    height: 600px;

    -webkit-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    background-color: #87509c;
}

header
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 150px;
    padding-top: 60px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#logo
{
    max-width: 118px;
    max-height: 37px;
}
#burger
{
    position: relative;

    display: none;

    width: 40px;
    height: 30px;
}

#burger::before,
#burger::after,
#burger span
{
    position: absolute;

    width: 40px;
    height: 4px;

    content: '';
    -webkit-transition: -webkit-transform .2s linear;
         -o-transition:         transform .2s linear;
            transition: -webkit-transform .2s linear;
            transition:         transform .2s linear;
            transition:         transform .2s linear, -webkit-transform .2s linear;

    background-color: #fff;
}

#burger span
{
    top: 13px;
}

#burger::before
{
    top: 0;
}

#burger::after
{
    bottom: 0;
}

#burger.active_burger:before
{
    top: 13px;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#burger.active_burger::after
{
    bottom: 13px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

#burger.active_burger span
{
    -webkit-transition: none;
         -o-transition: none;
            transition: none;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}


#navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 540px;
    margin-top: 4px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav_links
{
    font-size: .8rem;
    font-weight: 400;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 75px;
    height: 30px;
    margin: 0 10px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav_links:hover,
a#active_link
{
    -webkit-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 5px;
    background-color: #636;
}

a#active_link
{
    -webkit-transition: none;
         -o-transition: none;
            transition: none;
}

#h1
{
    font-size: 2.2rem;
    font-weight: 700;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 85px;

    text-align: center;
}

#welcome_button
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 63px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#intro_button
{
    background-color: #eb7d4b;
    -webkit-box-shadow: 0 4px 0 0 #c63;
            box-shadow: 0 4px 0 0 #c63;
}

/* "Services" section styling */

#services
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 750px;
    padding-top: 115px;

    text-align: center;

    background-color: #0c9;
}

#sections
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 80px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.icon
{
    max-width: 100%;
    height: 126px;
}

section
{
    overflow: hidden;

    width: 205px;
    margin: 0 20px;
}

.topic
{
    font-size: 1.5rem;
    font-weight: 700;

    margin-top: 60px;

    text-transform: uppercase;
}

.description
{
    font-size: .8rem;
    font-weight: 300;

    margin-top: 30px;
}

/* "Get_in_touch" section styling */

#get_in_touch
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 930px;
    padding-top: 120px;

    text-align: center;

    background-color: #369;
}

#get_in_touch_titile:after
{
    margin-bottom: 20px;

    background: #336;
}
#conection_form
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0;
}

input[type='text'],
input[type='email']
{
    font-weight: 400;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 410px;
    height: 60px;
    margin-top: 58px;
    padding-left: 25px;

    color: #fff;
    border: none;
    border-radius: 2px;
    background: #336;
}

input[type='text']:first-child
{
    margin-right: 35px;
}

#message
{
    font-size: 1rem;
    font-weight: 400;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 860px;
    max-width: 100%;
    height: 200px;
    margin-top: 25px;
    padding-top: 23px;
    padding-left: 25px;

    resize: none;

    color: #fff;
    border: none;
    border-radius: 2px;
    background: #336;
}

input[type='submit']
{
    margin-top: 60px;

    background-color: #3cf;
    -webkit-box-shadow: 0 4px 0 0 #39c;
            box-shadow: 0 4px 0 0 #39c;
}

::-webkit-input-placeholder
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    opacity: .8;
    color: #fff;
}
::-moz-placeholder
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    opacity: .8;
    color: #fff;
}
:-moz-placeholder
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    opacity: .8;
    color: #fff;
}
:-ms-input-placeholder
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    opacity: .8;
    color: #fff;
}

footer
{
    line-height: 40px;

    position: absolute;
    bottom: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-height: 110px;
    padding: 20px 0;

    background-color: #339;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer li
{
    display: inline-block;
}

.contacts
{
    font-size: 1.3rem;
    font-weight: 600;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 5px 25px;

    text-decoration: none;

    color: #fff;
}

.contacts:hover
{
    -webkit-transition: color .2s linear;
         -o-transition: color .2s linear;
            transition: color .2s linear;

    color: #3cf;
}
